.botom1{

position: relative;
background-position: center;
color: white;
background-color: white;

}

.formbuttom{
  position: relative;
  color: black;
  background-color: black;
  background-position: center;

}