.fundo{
  background-image: url("img/fundo.jpg");
  background-attachment: center;
  background-size: 300%;
  background-repeat: no-repeat;
  background-color: #000;
 
 
  }

.background{
background-repeat: no-repeat;

background-position: center;
background-size: 100vh 100vw;
height: 100vh; 
width: 100vw;
display: flex; 
flex-direction: column;
justify-content: center;


}

.card{

background: rgba(63, 71, 67,0.93);
margin: 0 16px;
padding: 16px;

}
.email{

color: grey;
background-color: white;

}

.password{

color: grey;
background-color: white;


}

.checkbox{
  color: white;
  background-color: white;


}

.formlogin{

display: flex;
flex-direction: column;
background-image: white;
color: grey;

}

.formlogin > input{
  margin-bottom: 16px;
  align-self: left;

  
}

.formbuttom{
  align-self: right;
  color: black;
  background-color: yellow;
}

.senha{

  color:white;
}

.icon{
  padding: 10px;
  background: dodgerblue;
  color: white;
  min-width: 50px;
  text-align: center;


}